/* Estilo para los botones de la tienda */
.btn {
    background-color: #555;
    border: 1px solid #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 0.9rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #333;
    color: #f9f9f9;
}

/* Estilo específico para los botones en el carrito */
.btn-success, .btn-danger {
    margin-top: 10px;
    margin-right: 5px;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}

/* Ajustes en la visualización del carrito */
.caja-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
}

.total-final {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

/* Diseño del contenedor de productos */
#productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.producto {
    padding: 15px;
    margin: 10px;
    width: calc(33% - 40px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
}

.producto img {
    width: 100%;
    height: auto;
    max-width: 200px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.producto h4 {
    font-size: 1.1em;
    color: #555;
    margin: 10px 0;
}

/* Formulario de compra */
#formulario {
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 20px);
    max-width: 300px;
}

input[type="submit"] {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}
/* Estilo para la sección de comentarios */
.comentarios {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.comentario {
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.comentario h5 {
    font-weight: bold;
    color: #333;
}

.comentario p {
    color: #555;
    margin-top: 5px;
}

